@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
	font-family: 'Roboto', sans-serif;
	color:white;
}
.categories{
	display:flex;
	flex-direction: column;
	margin: auto;
    max-width: 1024px;
}
.category{
    max-width: 400px;
	margin: auto;
}
.category__title{
	text-align: center;
	font-size: 34px
}

.article{
	text-align: center;
	font-size: 22px
}
.artical__date{
	font-size: 14px;
	margin-bottom: 0px;
	font-style: italic;
}
.artical__time{
	font-size: 14px;
	margin-top: 0px;
	font-style: italic;
}
.article__title{

}
img{
	width:100%;
}

@media screen and (min-width: 1024px){
	.categories{
		flex-direction: row;
	}
	.category{
		margin:10px;
	}
}